@media screen and (max-width: 1100px) {
  /* form de criação de perguntas */
  .form {
    width: 100%;
  }

  .form .form-content {
    width: 100%;
  }

  textarea {
    height: 120px;
  }

  .heading {
    margin-top: 36px;
  }
  /* página 1 da tela 3 */
  .screen-3-1 {
    width: 100%;
  }

  .form-info {
    margin-bottom: 28px;
  }

  /* página 2 da tela 3 */
  .screen-3-2 {
    width: 100%;
  }

  .form-questions:last-of-type {
    margin-bottom: 46px;
  }

  /* página 3 da tela 3 */
  .screen-3-3 {
    width: 100%;
  }

  .form-levels:last-of-type {
    margin-bottom: 28px;
  }

  /* página 4 da tela 3 */
  .screen-3-4 {
    width: 100%;

    padding-inline: 20px;
  }

  .quizz-success-wrapper {
    width: 100%;

    margin-bottom: 24px;
  }
}
