* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

  background-color: #e5e5e5;
}

/* botão */
.btn {
  border: none;
  border-radius: 15px;
  background-color: #ec362d;
  color: #fff5f4;

  font-size: 21px;
  line-height: 25px;
  text-align: center;

  padding: 14px 42px;

  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #ec362d;
  color: white;
  text-align: center;
  padding: 13px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* estilizações tela 3 - criação de quiz (1) */
.screen-3-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 70px;

  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 600px;

  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.form.active .form-content {
  display: block;
}

.form-info {
  margin-top: 26px;
  margin-bottom: 85px;

  padding: 20px 15px;
}

input {
  font-family: 'Roboto', sans-serif;

  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 12px 24px;

  font-size: 19px;
  line-height: 22px;
  color: #bababa;
  font-style: italic;
}

.quizz-info + .quizz-info {
  margin-top: 8px;
}

/* página (2) perguntas do quiz tela 3 */
.screen-3-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-questions {
  padding: 26px 15px;
  margin-top: 36px;
}

.form-questions:last-of-type {
  margin-bottom: 36px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.form-content {
  display: none;
}

.question-detail {
  margin-top: 12px;
}

.question-correct-answer {
  margin-top: 28px;
}

.question-correct-answer h3 {
  margin-bottom: 24px;
}

.question-incorrect-answers {
  margin-top: 28px;
}

.question-incorrect-answers h3 {
  margin-bottom: 14px;
}

.input-incorrect-answer + .input-incorrect-answer {
  margin-top: 32px;
}

.quizz-input + .quizz-input {
  margin-top: 14px;
}
/* fim página perguntas do quiz tela 3 */

/* fim da estilização da tela 3 */
